.received-message pre {
  background-color: #fff5cc;
  border-radius: 10px 10px 10px 0;
  -webkit-border-radius: 10px 10px 10px 0;
  -moz-border-radius: 10px 10px 10px 0;
  -ms-border-radius: 10px 10px 10px 0;
  -o-border-radius: 10px 10px 10px 0;
}

.chat-messages pre {
  padding: 0.5rem 0.75rem;
  font-size: 12px;
  display: inline-block;
  margin: 0;
}

.my-messages {
  display: flex;
}

.my-messages pre {
  margin-inline-start: auto;
  background-color: #e3f2ff;
  border-radius: 10px 10px 0 10px;
  -webkit-border-radius: 10px 10px 0 10px;
  -moz-border-radius: 10px 10px 0 10px;
  -ms-border-radius: 10px 10px 0 10px;
  -o-border-radius: 10px 10px 0 10px;
}
.image-message img {
  background-color: #d9d9d9;
  padding: 8px 10px 0;
  border-radius: 10px;
  margin-inline-start: auto;

}

textarea {
  border: unset;
  resize: none;
}

textarea:focus-visible {
  outline: unset;
}

.bi-paperclip {
  transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -o-transform: rotate(50deg);
}
