<section class="chat m-3 rounded-4 bg-white">
  <div
    class="chat-details d-flex align-items-center gap-3 border-bottom border-2 p-3"
  >
    <div class="profile-img">
      <img
        src="../../../assets/images/profile.jpg"
        alt="Profile Image"
        width="50"
        class="rounded-circle"
      />
    </div>
    <div class="profile-name">
      <h6 class="mb-1">Joy Philip Matew</h6>
      <p class="m-0 fs-14 text-secondary">Whatsapp Live Chat</p>
    </div>
    <div class="about-profile ms-auto fs-4">
      <i class="bi bi-check-circle"></i>
      <i class="bi bi-three-dots-vertical"></i>
    </div>
  </div>
  <div
    class="chat-messages d-flex flex-column gap-2 p-3 border-bottom border-2"
  >
    <div class="received-message">
      <pre>hello, Serena</pre>
    </div>
    <div class="my-messages">
      <pre>
Hi,
I'm excited that you're interested in learning
more about marketing!
This 'How to Get New Leads' eBook will help
you better understand now to denerate new
leads for your business</pre
      >
    </div>
    <div class="my-messages image-message">
      <img src="../../../assets/images/message.png" alt="Message" width="250" />
    </div>
    <div class="received-message">
      <pre>Yes, Lets Rock. I want the file anyway :)</pre>
    </div>
    <div class="received-message">
      <pre>
better understand now to denerate new leads
for your business</pre
      >
    </div>
    <div class="my-messages">
      <pre>
Great!
Enter your email below so we know
where to send your eBook</pre
      >
    </div>
  </div>
  <div class="typing-message">
    <form>
      <textarea class="w-100 p-3 pb-0" rows="4" placeholder="Type your message..."></textarea>
    </form>
    <div class="typing-options fs-4 d-flex gap-3 p-3 pt-0">
      <i class="bi bi-paperclip"></i>
      <i class="bi bi-image"></i>
      <i class="bi bi-emoji-smile"></i>
      <i class="bi bi-fan ms-auto"></i>
    </div>
  </div>
</section>
