<nav class="py-2 px-5 bg-white">
  <div class="row align-items-center">
    <div class="col-6 d-flex align-items-center fs-14">
      <p class="m-0">
        Activate 14-Day Free Trial to unlock all pro features and get more value
      </p>
      <button type="button" class="btn btn-outline-dark fw-semibold fs-14 mx-3">
        Activate
      </button>
      <a class="text-decoration-none fw-semibold" href="">View pricing</a>
    </div>
    <div class="col-2 offset-1 d-flex align-items-center">
      <div class="circular-progress me-3">
        <svg viewBox="0 0 36 36" class="circular-chart">
          <path
            class="circle-bg"
            d="M18 2.0845
                   a 15.9155 15.9155 0 0 1 0 31.831
                   a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <path
            class="circle"
            stroke-dasharray="20, 100"
            d="M18 2.0845
                   a 15.9155 15.9155 0 0 1 0 31.831
                   a 15.9155 15.9155 0 0 1 0 -31.831"
          />
        </svg>
      </div>
      <div class="progress-details">
        <h6>200/1000</h6>
        <p>Free Contact List</p>
      </div>
    </div>
    <div class="col-1 text-end">
      <div class="fedex-img position-relative">
        <img
          src="../../../assets/images/fedex.png"
          alt="Fedex"
          class="rounded-circle"
          width="50"
        />
      </div>
    </div>
    <div class="col-2 d-flex justify-content-evenly align-items-center">
      <img
        src="../../../assets/images/profile.jpg"
        alt="Profile Picture"
        width="50"
        class="rounded-circle"
      />
      <h6>James Mariarty</h6>
    </div>
  </div>
</nav>
