<section class="px-3 py-4 h-100 bg-white border-top border-end border-2">
  <h5>Live Chat</h5>

  <ul class="list-unstyled mt-3">
    <li class="active">All Conversations (05)</li>
    <li>Un Attended</li>
    <li>Team</li>
  </ul>

  <ul class="list-unstyled ps-3">
    <span class="text-secondary">Channels</span>
    <li>
      <img
        src="../../../assets/images/social-media-icons/instagram.png"
        alt="Instagram Account"
        width="24"
        class="me-2"
      />Instagram
    </li>
    <li>
      <img
        src="../../../assets/images/social-media-icons/telegram.png"
        alt="Telegram Account"
        width="24"
        class="me-2"
      />Telegram
    </li>
    <li>
      <img
        src="../../../assets/images/social-media-icons/whatsapp.png"
        alt="Whatsapp Account"
        width="24"
        class="me-2"
      />Whatsapp
    </li>
  </ul>
</section>
